.App {
  text-align: center;
}
.myNav {
  background-color: rgb(228, 243, 253);
}
body {
  background: rgb(250, 220, 240) !important;
}
nav a {
  color: rgb(61, 121, 212) !important; 
}
.itens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}
.itens-inicio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bolo {
  max-height: 186px;
}
.item {
      
  margin-top: 35px !important;
  margin: 40px;
  }
.card-conteudo {
  box-shadow: 7.5px 7.5px 5px 0px rgba(112, 31, 81, 0.15);
  width: 18rem;
}
.linha {
  padding: 2px;
  background-color: rgba(233,148,230,1)
}
.titulo {
  font-size: 80px !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.subtitulo {
  font-size: 30px !important;
  
  font-family: Georgia, 'Times New Roman', Times, serif
}